// Names of colors you can get from http://chir.ag/projects/name-that-color/

//A
$alabaster: #f7f7f7;
$alto: #dbdbdb;
$anzas: #e2b254;
$apple-lighter: #3e973d;
$apple: #3a903b;
$atlantis: #8eb42b;

//B
$bittersweet: #ff6565;
$black: #000000;
$blue-chill: #08789e;
$blush: #ba405d;
$boulder: #767676;
$bright-turquoise: #0eb9f3;

//C
$casal: #2d5966;
$catskill-white: #eef3f6;
$cerise: #d43e8b;
$cherokee: #f9d48b;

//D
$danube: #618bc7;

//E
$emperor: #505050;

//F
$fountain-blue: #53b6c5;

//G
$gallery-light: #f0f0f0;
$gallery: #ebebeb;
$gorse: #fff555;
$gray: #8f8f8f;

//H
$heavy-metal: #272822;

//I

//J
$jaffa: #ec9242;

//K

//L

//M
$mantis: #78bd52;
$mercury: #e5e5e5;
$mine-shaft: #333333;
$mountain-meadow: #1ca294;
$mako: #454750;
$mulled-win: #464565;

//N

//O

//P
$puerto-rico: #52bd93;
$purple-mountains-majesty: #9473B1;

//Q

//R
$red: #f70707;

//S
$santa-fe: #bd6e52;
$scorpion: #606060;
$shuttle-gray: #58656d;
$silver-chalice: #9f9f9f;
$silver: #c5c5c5;
$skype-blue: #21c2ff;
$steel-blue: #5291bd;
$sushi: #a0b93e;
$sun: #fbae18;

//T
$trendy-pink: #a056a1;
$tuna: #343840;
$tundora: #222222;

//U
$underline-red: rgba(215, 40, 40, 0.4);
$underline-white: rgba(255, 255, 255, 0.2);
$underline-white-bright: rgba(255, 255, 255, 0.5);

//V
$venice-blue: #076f92;

//W
$waikawa-gray: #5666a1;
$wedgewood: #4e89a3;
$white: #ffffff;
$wild-sand: #f4f4f4;

//X

//Y

//Z
