$service-settings: (
  web-development: (
    color: $steel-blue
  ),
  mobile-development: (
    color: $puerto-rico
  ),
  design: (
    color: $anzas
  ),
  web20-tools: (
    color: $mantis
  ),
  outstanding-technologies: (
    color: $trendy-pink
  ),
  it-expertise: (
    color: $blush
  ),
  tdd: (
    color: $scorpion
  ),
  established-procedure: (
    color: $casal
  ),
  code-refactoring: (
    color: $waikawa-gray
  ),
  legacy-software: (
    color: $sushi
  ),
  software-maintenance: (
    color: $fountain-blue
  ),
  quality-assurance: (
    color: $cerise
  )
);
