var imageAttachmentBlock = $("#image_attachment_<%= @upload.id %>");
imageAttachmentBlock.addClass('deleted');
imageAttachmentBlock.find('form.delete, a.delete').replaceWith(
  "<a href='<%= admin_image_attachment_restore_path(@upload)%>'" +
  "data-method='post' data-remote='true' rel='nofollow' class='restore'>Restore</a>");
var attachmentsCache = $('#attachments_cache')
attachmentsCache.val(attachmentsCache.val().replace(','+"<%= @upload.id %>", ''));
