.blog-article {
  @include page-info {
    .inner {
      max-width: 750px;
      padding-bottom: 0;
    }

    p { width: initial; }
  };

  h1 {
    @include heading1($mine-shaft);
  }

  article {
    border-bottom: 1px solid $alto;
  }

  @include tablet {
    article {
      width: initial;
    }
  }
}
