.files
  = form_for @image_attachment_form, url: admin_image_attachments_path, html: { class: 'upload form-vertical', multipart: true, remote: true }, 'data-url' => admin_image_attachments_path do |f|
    .form-group
      .controls
        %span.btn.btn-success.fileinput-button
          %span Add images...
          = f.hidden_field :content_id, value: content_id
          = f.file_field :image, multiple: true
  - if attachments.any?
    - attachments.each do |attachment|
      = render 'cms/admin/shared/attachment', attachment: attachment, attachments: attachments.map(&:id)

:javascript
  $(function () {
    $('.upload').fileupload({
      add: function (e, data) {
        data.submit();
      },
    });
  });
