= content_for(:meta)

- if @page
  - @page.meta.each do |meta|
    %meta{ property:meta['name'], content:meta['value'] }

%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
%meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
%meta{:content => I18n.locale, "http-equiv" => "Content-Language"}/
%meta{:content => "no", "http-equiv" => "imagetoolbar"}/

%meta{:content => "progid:DXImageTransform.Microsoft.Fade(Duration=0.2)", "http-equiv" => "Page-Exit"}/
