.history {
  background-color: #f4f2f2;

  .only_a {
    background-color: #ffdddd;
    color: #ff0000;
  }

  .only_b {
    background-color: #ddffdd;
    color: #008000;
  }

  .match {
    color: #999999;
  }
}
