.agentfolio {
  @include colored-header($steel-blue);
  @include colored-breadcrumbs($steel-blue);

  .agentfolio-info {
    @include project-info;

    background: $danube url('/assets/pages/projects/agentfolio/agentfolio_bg.png') no-repeat bottom center;
    padding-bottom: 16em;
  }

  .history {
    div.inner {
      max-width: $base-width;
      width: initial;
    }

    .col {
      color: $gray;
    }

    .customers { margin-right: 0; }

    .customer {
      display: inline-block;
      margin-right: 2em;

      .name, .position { font-size: 1em; }

      &:last-child { margin-right: 0; }
    }
  }

  .startup {
    background: $danube;
    color: $white;

    blockquote {
      @include quote($text-color: $white, $quote-color: rgba($white, 0.5));
    }
  }

  .buyfolio {
    background: $white;

    h2 { color: $mine-shaft; }

    p { color: $tundora; }
  }

  section.about-services {
    @include section-with-two-columns;

    background: $white;

    div.inner {
      @include centered-paragraph;

      max-width: initial;
    }

    p {
      color: $tundora;
      margin-top: 0;
    }
  }

  .before-after {
    div.inner {
      max-width: initial;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .before-after-image {
      width: 88%;
      max-width: 977px;
      float: right;
    }
  }

  .acquisition {
    background: $white url('/assets/pages/projects/agentfolio/agentfolio_bg2.jpg') no-repeat top center;
    color: $white;
    background-size: cover;

    img {
      float: right;
      margin: 1em 0 0 3em;
    }

    p { margin-bottom: 1em; }

    li {
      list-style-type: disc;
      margin-left: 1.4em;
      font-size: 0.9em;
    }
  }

  .agentfolio {
    background: $white;
    .inner { padding-bottom: 1em; }
    h2 { color: $mine-shaft; }
    p { color: $tundora; }
  }

  .agentfolio-challenges {
    background: $white;

    div.inner {
      max-width: $base-width;
      padding-top: 1.7em;
      padding-bottom: 1.7em;

      @include centered-paragraph;
    }

    p { color: $tundora; }

    ul {
      @include display(flex);
      @include align-items(flex-start);
      @include flex-direction(row);
      @include justify-content(space-between);
    }

    li {
      @include flex(1);
      vertical-align: top;
      padding-right: 2em;

      &:last-child { padding-right: 0; }
    }

    h3 {
      font-size: 0.9em;
      color: $mine-shaft;
      margin-bottom: 0;
    }
  }

  .agentfolio-impression {
    background: $white;

    h2 { color: $mine-shaft; }

    p { color: $tundora; }

    blockquote {
      @include quote($text-color: $mine-shaft, $quote-color: $boulder);
    }
  }

  .agentfolio-finally {
    background: $danube;

    div.inner {
      max-width: $base-width;
      padding-bottom: 1.7em;

      @include centered-paragraph;
    }

    p {
      color: $white;
    }

    ul {
      @include display(flex);
      @include align-items(flex-start);
      @include flex-direction(row);
      @include justify-content(space-between);
      padding: 2em 0;
    }

    li {
      @include flex(1);

      padding: 0 1em;
    }

    strong {
      font-size: 2.2em;
      color: $white;
      display: block;
      margin: 0.2em 0;
    }
  }

  #mobile .inner { padding-top: 0; }

  @include tablet {
    .history {
      div.inner { max-width: $max-project-content-width; }

      .history-content { display: block; }

      .customers { text-align: center; }

      .customer { text-align: left; }
    }

    section.about-services {
      ul { width: initial; }
    }

    .agentfolio-finaly {
      strong { font-size: 1.9em; }
    }

    .agentfolio-info {
      background-size: 150%;
      padding-bottom: 9em;
    }
  }

  @include tablet-portrait {
    @include technologies-column;

    section.about-services {
      li {
        width: initial;
        padding: 0;
      }
    }

    .acquisition {
      img {
        display: block;
        margin: 0 auto 2em auto;
        float: none;
      }
    }

    .agentfolio-finally {
      ul {
        display: block;
        padding-bottom: 0;
      }

      li {
        padding: 0 0 1em 0;

        p { margin-top: 0; }
      }
    }

    .agentfolio-challenges {
      ul {display: block; }

      li {padding-right: 0;}
    }
  }

  @include mobile {
    .agentfolio-info {
      background-size: 300%;
      padding-bottom: 8em;
    }
  }
}
