@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-Bold.otf') format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Bold.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-Bold.svg#52b8f7bdef7f32b456bdff259aa0aafa') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-BoldItalic.otf') format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-BoldItalic.svg#3574f4ac83278493b02a146bccc1a500') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-Light.otf') format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Light.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-Light.svg#b2e83f21a04278900d92d2a5931f7dc3') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-LightItalic.otf') format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-LightItalic.svg#c7fc802d538b624a714ab2fe088b5a70') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-Medium.otf')  format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Medium.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-Medium.svg#df27da1fde6202956c00125747136bda') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-MediumItalic.otf')  format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-MediumItalic.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-MediumItalic.svg#bbeca2eef85f86f84e593e39ff7aca9b') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  500;
}

@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-Regular.otf')  format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Regular.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-Regular.svg#4582969d6388a5dded4cbb4ff7487e0a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-RegularItalic.otf')  format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-RegularItalic.svg#209a8c9e59efad64ce8807be31e0570e') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-Thin.otf')  format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-Thin.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-Thin.svg#bb5e3c0162606114eeab957ba25b4960') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Brandon';
  src: url('brandon/HVD Fonts - BrandonText-ThinItalic.otf')  format('opentype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('brandon/HVD Fonts - BrandonText-ThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('brandon/HVD Fonts - BrandonText-ThinItalic.woff') format('woff'), /* Modern Browsers */
       url('brandon/HVD Fonts - BrandonText-ThinItalic.svg#33d97b0a06d35b590fc9628c1ef3516c') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  200;
}
