- if folder.nil?
  = render 'pages_list', pages: pages, nesting_level: nesting_level, parent_folder: parent_folder
- else
  %tr{:'data-nesting-level' => nesting_level, :'data-parent-folder' => parent_folder, :'data-is-folder' => true, :'data-folder-name' => folder, :'data-is-open' => "false"}
    %td{colspan: 4}
      = icon_tag('folder-close')
      = link_to url_label(folder, params[:folder]), admin_pages_path(folder: folder)
  - pages.each do |f, pages|
    = render 'pages_folder', folder: f, pages: pages, nesting_level: nesting_level + 1, parent_folder: folder
