- if folder.nil?
  = render 'pages_list', pages: pages, nesting_level: nesting_level
- else
  %tr{:'data-nesting-level' => nesting_level, :'data-is-folder' => true}
    %td{colspan: 4}
      = icon_tag('folder-close')
      = folder
  - pages.each do |folder, pages|
    = render 'pages_folder', folder: folder, pages: pages, nesting_level: nesting_level + 1
