%h1= t('admin.pages.edit_annotation')
.row
  .col-xs-10= render 'cms/admin/pages/forms/page_annotation_form', url: admin_page_path(@page)
  .col-xs-2= render 'cms/admin/shared/forms/image_attachment_form', content: @page.annotation
